<a href="https://colab.research.google.com/github/ChojnackiKRZ/data-science-bootcamp/blob/main/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CTRL + I PRZED OBIEKTEM OTWIERA DOKUMENTACJĘ

**1. PRACA Z OBIEKTAMI TYPU SERIES**

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd
pd.__version__

'1.3.5'

**DATY, SZEREGI CZASOWE**

In [6]:
import numpy as np
s = pd.Series(data = np.arange(10, 20), index = pd.date_range(start = '20210220', periods = 10))
s

2021-02-20    10
2021-02-21    11
2021-02-22    12
2021-02-23    13
2021-02-24    14
2021-02-25    15
2021-02-26    16
2021-02-27    17
2021-02-28    18
2021-03-01    19
Freq: D, dtype: int64

**ATRYBUTY OBIEKTU SERIES**

In [7]:
#index
s.index

DatetimeIndex(['2021-02-20', '2021-02-21', '2021-02-22', '2021-02-23',
               '2021-02-24', '2021-02-25', '2021-02-26', '2021-02-27',
               '2021-02-28', '2021-03-01'],
              dtype='datetime64[ns]', freq='D')

In [11]:
list(s.index)

[Timestamp('2021-02-20 00:00:00', freq='D'),
 Timestamp('2021-02-21 00:00:00', freq='D'),
 Timestamp('2021-02-22 00:00:00', freq='D'),
 Timestamp('2021-02-23 00:00:00', freq='D'),
 Timestamp('2021-02-24 00:00:00', freq='D'),
 Timestamp('2021-02-25 00:00:00', freq='D'),
 Timestamp('2021-02-26 00:00:00', freq='D'),
 Timestamp('2021-02-27 00:00:00', freq='D'),
 Timestamp('2021-02-28 00:00:00', freq='D'),
 Timestamp('2021-03-01 00:00:00', freq='D')]

In [14]:
#wartosci
%%timeit
s.values
type(s.values)

The slowest run took 12.82 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 5: 2.44 µs per loop

In [15]:
#typ danych
s.dtypes

dtype('int64')

In [16]:
#kształt
s.shape

(10,)

**WYCINANIE ORAZ PODSTAWOWE OPERACJE LICZBOWE**

In [18]:
price = pd.Series(data = {'Apple' : 200, 'CD Projekt' : 60, 'Amazon' : 1900})
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

In [19]:
#wycinanie nazwa
price['CD Projekt']

60

In [20]:
#wycinaniem numerem indeksu
price[1]

60

In [22]:
#count - licznik wartosci
price.count()

3

In [24]:
#value_counts - zwraca nam licznik danych wartosci, rozklad danych
price.value_counts()

200     1
60      1
1900    1
dtype: int64

In [27]:
#sum
%%timeit
price.values.sum()

The slowest run took 31.66 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 5: 3.01 µs per loop

In [28]:
#sum
%%timeit
price.sum()

The slowest run took 7.87 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 5: 47.5 µs per loop

In [35]:
#min, max, std, var
price.values.min()
price.values.max()
price.values.std()
price.values.var()

699466.6666666666

In [40]:
#describe
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [42]:
price = pd.Series(data = {'Apple' : 200, 'CD Projekt' : 60, 'Amazon' : 1900, 'KGHM' : np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [47]:
#liczenie NaN / null
print (price.value_counts(dropna = True), '\n')
print (price.value_counts(dropna = False))

200.0     1
60.0      1
1900.0    1
dtype: int64

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [48]:
#ilosc maks
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [49]:
#ilosc min
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [51]:
#uporzadkowanie obiektu series
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [59]:
#sortowanie
price.sort_values(ascending = False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

**METODA APPLY**

In [69]:
print ('dane w dolarach', '\n', price, '\n ')
dollar = 3.8
print ('dane w zlotowkach', '\n', price.apply(lambda x: x * dollar))

dane w dolarach
 Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

dane w zlotowkach
 Amazon        7220.0
Apple          760.0
CD Projekt     228.0
KGHM             NaN
dtype: float64

**2. DataFrame - TWORZENIE OBIEKTÓW ORAZ PODSTAWOWE ATRYBUTY**

In [71]:
df = pd.DataFrame(data = [11, 12, 13])
df

    0
0  11
1  12
2  13

In [73]:
df = pd.DataFrame(data = [11, 12, 13], 
                  index = ['first', 'second', 'third'], 
                  columns = ['col_1'])
df

        col_1
first      11
second     12
third      13

In [77]:
df = pd.DataFrame(data = {'WIG20' : ['PKN Orlen', 'PKO BP'],
                          'mWIG40' : ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [78]:
df = pd.DataFrame(data = [[10, 12, 13], [23, 24, 25]], 
                  index = ['first', 'second'], 
                  columns = ['col_1', 'col_2', 'col_3'])

df

        col_1  col_2  col_3
first      10     12     13
second     23     24     25

In [79]:
#nazwy kolumn
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [80]:
#index
df.index

Index(['first', 'second'], dtype='object')

In [81]:
#values
#bardzo dobre do optymalizacji kodu
df.values

array([[10, 12, 13],
       [23, 24, 25]])

In [83]:
#podstawowe info o ramce danych
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [88]:
#df describe
print (df.describe(), '\n')
print (df.describe().T)

           col_1      col_2      col_3
count   2.000000   2.000000   2.000000
mean   16.500000  18.000000  19.000000
std     9.192388   8.485281   8.485281
min    10.000000  12.000000  13.000000
25%    13.250000  15.000000  16.000000
50%    16.500000  18.000000  19.000000
75%    19.750000  21.000000  22.000000
max    23.000000  24.000000  25.000000

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  18.0  8.485281  12.0  15.00  18.0  21.00  24.0
col_3    2.0  19.0  8.485281  13.0  16.00  19.0  22.00  25.0

**SELEKCJA KOLUMN**

In [89]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     24     25

In [131]:
#kolumny
print (df['a'], '\n')
print (df.a, '\n')

#wiersze
print (df.loc['second'], '\n')
print (df.iloc[1])

first     10
second    23
Name: a, dtype: int64

first     10
second    23
Name: a, dtype: int64

a    23
b    24
c    25
Name: second, dtype: int64

a    23
b    24
c    25
Name: second, dtype: int64

In [112]:
#zmiana nazwy kolumn
df.columns = ['a', 'b', 'c']
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [126]:
#filtrowanie za pomoca masek logicznych
print (df > 12, '\n')
df[df > 12]

            a      b     c
first   False  False  True
second   True   True  True

           a     b   c
first    NaN   NaN  13
second  23.0  24.0  25

In [135]:
#tworzenie nowej kolumny
df['suma'] = df.a + df.b + df.c
print (df.suma, '\n')
df

first     35
second    72
Name: suma, dtype: int64

         a   b   c  suma
first   10  12  13    35
second  23  24  25    72

In [145]:
#metoda loc i iloc
df = pd.DataFrame(data = [[10, 12, 13], [23, 24, 25]], 
                  index = ['first', 'second'], 
                  columns = ['col_1', 'col_2', 'col_3'])

#loc
print (df.loc['first'], '\n')
print (df.loc['first', 'col_2'], '\n')
print (df.loc[:, 'col_2'], '\n')
print (40*'*')
#iloc
print (df.iloc[1], '\n')
print (df.iloc[1, 2], '\n')
print (df.iloc[:, 2], '\n')

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

12

first     12
second    24
Name: col_2, dtype: int64

****************************************
col_1    23
col_2    24
col_3    25
Name: second, dtype: int64

25

first     13
second    25
Name: col_3, dtype: int64